/* General */

h1 {
  margin-top: 60px;
  color: peru !important;
  font-size: 50px;
  font-family: 'Playfair Display', serif !important;
  font-weight: 700;
  letter-spacing: 2px;
}

h4 {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300;
  font-size: 18px;
}

label[for='name'],
label[for='photo']
{
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300;
  font-size: 18px;
}

h5 {
  font-family: 'Open Sans', sans-serif !important;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  color: peru;
}

.modal-title {
  font-family: 'Open Sans', sans-serif !important;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  color: peru;
}

#matchName {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 700;
  margin-bottom: 30px;
}

#matchImg {
  width: 50%;
  height: auto;
}

#submit {
  margin-top: 20px;
  margin-bottom: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Open Sans', sans-serif !important;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2px;
  border: 2px solid peru;
  text-decoration: none;
  color: peru;
}

#top,
#bottom,
#left,
#right {
  background: peru;
  position: fixed;
}

#left,
#right {
  top: 0; bottom: 0;
  width: 10px;
}
  #left { left: 0; }
  #right { right: 0; }

#top,
#bottom {
  left: 0; right: 0;
  height: 10px;
}
  #top { top: 0; }
  #bottom { bottom: 0; }